<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Recovery</title>
  <!-- Enlaza los estilos CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <h1>Password Recovery</h1>

    <section>
      <form action="/api/session/forgot-password" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="text" class="form-control" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </section>

    <div class="mt-4">
      <a href="/api/session/login" class="btn btn-secondary">Login</a>
      <span class="mx-2">|</span>
      <a href="/api/session/register" class="btn btn-success">Register now</a>
    </div>
  </div>

  <!-- Incluye los scripts de Bootstrap y jQuery (si es necesario) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
