<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Token Error</title>
  <!-- Enlaza los estilos CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <h1>Token Error</h1>
    <div>
      <h2>Token expired or invalid</h2>
    </div>
    <div class="mt-4">
      <a href="/api/session/login" class="btn btn-secondary">Login</a>
      <span class="mx-2">|</span>
      <a href="/api/session/register" class="btn btn-success">Register now</a>
    </div>
  </div>
  <!-- Agrega una imagen de error personalizada -->
  <div class="container mt-4">
    <img
      src="https://static.vecteezy.com/system/resources/previews/006/549/647/original/404-landing-page-free-vector.jpg"
      alt="404"
      width="100%"
    />
  </div>

  <!-- Incluye los scripts de Bootstrap y jQuery (si es necesario) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
