body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5; /* Cambia el color de fondo si lo deseas */
}

.img-logo {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* Agrega un cursor de puntero para las imágenes */
}

.card-img{
    width: 100%;
}

.card-title {
    font-size: 28px; /* Ajusta el tamaño del título */
    font-weight: 600; /* Ajusta el peso de la fuente */
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px; /* Ajusta el tamaño del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.card-text-p {
    font-size: 22px; /* Ajusta el tamaño del precio */
    font-weight: 600;
    margin-bottom: 20px;
}

.card {
    border: 2px solid #000;
    border-radius: 10px; /* Agrega bordes redondeados */
    padding: 20px;
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    background-color: #fff; /* Color de fondo de las tarjetas */
}

.card-img {
    width: 100%;
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    margin-bottom: 15px; /* Espacio inferior entre la imagen y el texto */
}

.card-title {
    font-size: 28px; /* Ajusta el tamaño del título */
    font-weight: 600; /* Ajusta el peso de la fuente */
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px; /* Ajusta el tamaño del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.card-text-p {
    font-size: 22px; /* Ajusta el tamaño del precio */
    font-weight: 600;
    margin-bottom: 20px;
}

.card-btn {
    margin-top: 10px; /* Espacio superior entre los botones */
}

.btn {
    font-size: 16px; /* Ajusta el tamaño de fuente de los botones */
    margin-top: 10px; /* Espacio superior entre los botones */
}

.btn-primary {
    font-size: 16px; /* Ajusta el tamaño de fuente del botón "Comprar" */
}

.btn-success {
    margin-left: 10px; /* Espacio entre los botones */
    font-size: 16px; /* Ajusta el tamaño de fuente del botón "Agregar al Carrito" */
}



/*          --------------- RESPONSIVE --------------------            */

@media (max-width: 768px) {
    .card-img {
        width: 100%;
        margin-left: 0;
    }
}


/* Media query para ajustar los márgenes de los botones en dispositivos móviles */
@media (max-width: 600px) {
    .inicio {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {

    .img-logo {
        max-width: 50%;
        height: auto;
        cursor: pointer; /* Agrega un cursor de puntero para las imágenes */
    }

    .inicio {
        margin-left: 50px;
        margin-top: 10px;
    }


    .card {
        border: 2px solid #000;
        border-radius: 10px; /* Agrega bordes redondeados */
        padding: 10px;
        margin-bottom: 20px; /* Espacio entre las tarjetas */
        background-color: #fff; /* Color de fondo de las tarjetas */
    }

    .card-title {
    font-size: 20px; /* Ajusta el tamaño del título */
    font-weight: 600; /* Ajusta el peso de la fuente */
    margin-bottom: 10px;
    }

    .card-text {
        font-size: 15px; /* Ajusta el tamaño del texto */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 20px;
    }

    .card-text-p {
        font-size: 22px; /* Ajusta el tamaño del precio */
        font-weight: 600;
        margin-bottom: 20px;
    }

    .card-btn{
        margin-left: 100px;
        font-size: 5px;
        width: 150px;
        height: 60px;
    }


.btn-primary {
    font-size: 16px; /* Ajusta el tamaño de fuente del botón "Comprar" */
}

.btn-success {
    margin-left: 100px; /* Espacio entre los botones */
    font-size: 16px; /* Ajusta el tamaño de fuente del botón "Agregar al Carrito" */
}


}

@media (min-width: 400px) and (max-width: 900px){
    .img-logo{
        width: 50%;
    }

    .inicio{
        margin-left: 100px;
        font-size: 50%;
    }

    .card-img{
        width: 50%;
        margin-left: 100px;
    }

    .card-btn{
        width: 30%;
        font-size: 20px;
        margin-left: 120px;
    }
}

@media (min-width: 301px) and (max-width: 500px){

    .img-logo {
        max-width: 50%;
        height: auto;
        cursor: pointer; /* Agrega un cursor de puntero para las imágenes */
    }

    .inicio {
        font-size: 10px;
        margin-left: 100px;
        margin-top: 10px;
    }

    .card {
        border: 2px solid #000;
        border-radius: 10px; /* Agrega bordes redondeados */
        padding: 20px;
        margin-bottom: 20px; /* Espacio entre las tarjetas */
        background-color: #fff; /* Color de fondo de las tarjetas */
    }

    .card-title {
    font-size: 20px; /* Ajusta el tamaño del título */
    font-weight: 600; /* Ajusta el peso de la fuente */
    margin-bottom: 10px;
    }

    .card-text {
        font-size: 15px; /* Ajusta el tamaño del texto */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 20px;
    }

    .card-text-p {
        font-size: 22px; /* Ajusta el tamaño del precio */
        font-weight: 600;
        margin-bottom: 20px;
    }

    .card-img{
        width: 50%;
        margin-left: 20%;
    }


    .card.btn{
        margin-left: 100px;
        font-size: 5px;
        width: 100px;
        height: 40px;
    }


.btn-primary {
    font-size: 16px; /* Ajusta el tamaño de fuente del botón "Comprar" */
}

.btn-success {
    margin-left: 100px; /* Espacio entre los botones */
    font-size: 16px; /* Ajusta el tamaño de fuente del botón "Agregar al Carrito" */
}
}




/* Estilos para el modal de imagen */
.modal-dialog {
    max-width: 80vw; 
    margin: 0 auto;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent; /* Fondo del modal transparente */
    border: none; 
    box-shadow: none; 
}

.modal-body {
    padding: 0;
}

#enlargedImg {
    max-width: 100%; /* Asegura que la imagen ampliada se ajuste al tamaño del modal */
    height: auto;
}
