<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/styles/error500.css"> <!-- Asegúrate de que el archivo CSS sea el correcto -->
  <title>Error 500</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4">500 - Internal Server Error</h1>
        <p class="lead">An internal server error occurred.</p>
        <a href="/api/products" class="btn btn-primary">Go to Home</a>
      </div>
    </div>
  </div>
</body>
</html>