<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Error - Access Denied</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4">Access Denied</h1>
        <p class="lead">You do not have sufficient permissions to access this site.</p>
        <p>{{message}}</p> <!-- Asegúrate de que estás pasando el mensaje desde tu servidor cuando renderices la página. -->
        <a href="/api/products" class="btn btn-primary">Go to Home</a>
      </div>
    </div>
  </div>
</body>
</html>