<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Error - Cannot Change Role</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4">Cannot Change Role</h1>
        <p class="lead">You cannot change the role of an admin.</p>
        <a href="/api/user" class="btn btn-primary">Go to My Account</a>
      </div>
    </div>
  </div>
</body>
</html>
