<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Error - An Error Occurred</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/api/products" class="btn btn-primary">Go to Home</a>
        <h1 class="display-4">An Error Occurred</h1>
        <h2>This is because you are trying to add your own product to the cart or you are an admin user.</h2>
        <img src="https://img.freepik.com/vector-gratis/fondo-error-pagina_23-2148076383.jpg?w=740&t=st=1695655694~exp=1695656294~hmac=c8e502ae6973fd3835025b9af5ea32c1d85a9dadea2ba986d7962b5ea0014dcb" alt="404" class="img-fluid" />
      </div>
    </div>
  </div>
</body>
</html>
